@media (orientation: landscape) {
    body { 
	width: 100%; height: 100%; top: 0; left: 0;
	background: url(b.png) no-repeat center top; position: center; z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    }
    
        a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 40pt;
        font-family: Verdana, Geneva, sans-serif;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   }
}

@media (orientation: portrait) {
    body { 
	width: 100%; height: 100%; top: 0; left: 0;
	background: url(c.png) no-repeat center top; position: center; z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 70pt;
        font-family: Verdana, Geneva, sans-serif;
   	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
}

ul {
    color: white;
    font-size: 40pt;
    list-style-type: none;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
